h2{
color: black;
}
p{
background-color: orange;
color: white;
}
.row g-3 needs-validation{
padding: 42px;
display: block;
margin: auto;
}
.row g-3 needs-validation{
background-color: black;
color: white;
}
#fromm{
color: white;
background-color: black;
}