<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="../../static/assets/styles/main.css">
    <link rel="stylesheet" href="../../static/assets/styles/bootstrap/css/bootstrap.css">
    <style>
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<h2>OUR HISTORY:</h2>
<P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error explicabo fugit ipsa laboriosam libero modi mollitia nostrum nulla possimus quae reiciendis repellat sed, tempora ullam, voluptatum. Asperiores aspernatur libero nulla voluptatem. Commodi corporis cumque, distinctio esse in ipsam quas quia reiciendis repudiandae velit! Accusantium consequuntur cum expedita minus soluta? Aperiam aut consequuntur eum, incidunt laborum magnam officiis omnis voluptatem voluptates.</P>
<br><br>
<h3>HISTORY</h3>
<P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad amet assumenda commodi consectetur magni mollitia tempora, tenetur vitae. Accusamus, accusantium, alias at aut delectus dignissimos ducimus ex expedita fugiat iure magnam magni quae quasi, quibusdam recusandae reiciendis totam ullam voluptas. Aperiam at atque beatae culpa debitis dolore dolorum eligendi est iusto maiores non numquam odio qui quibusdam reiciendis, ullam?</P>
<br><br>
<h4>OUR SERVICES</h4>
<ul>
    <li>partnership</li>
    <li>sponsorship</li>
    <li>mentoring</li>

</ul>
<br><br>
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../static/assets/images/wikimediaimages-china-cargo-airlines-884399_1280.jpg" class="d-block w-100" alt="plane">
    </div>
    <div class="carousel-item">
      <img src="../../static/assets/images/pexels-knight-1283910_1280.jpg" class="d-block w-100" alt="knight">
    </div>
    <div class="carousel-item">
      <img src="../../static/assets/images/diego_torres-seven-sisters-1462388_1280.jpg" class="d-block w-100" alt="scene">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br><br>
<footer>
  <p>© <span>Copyright</span> <strong class="px-1 sitename"></strong> <span>All Rights Reserved</span></p>
</footer>
</body>
</html>