<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Member list</title>
    <link rel="stylesheet" href="../../static/assets/styles/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/assets/styles/main.css">

</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br><br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Full Name</th>
      <th scope="col">Member Number</th>
      <th scope="col">Phone Number</th>
      <th scope="col">email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Mark Maina</th>
      <td>M001</td>
      <td>+254726007591</td>
      <td>mark@gmail.com</td>
    </tr>
    <tr>
      <th scope="row">Jacob Kim</th>
      <td>M002</td>
      <td>+254822600258</td>
      <td>jacob@gmail.com</td>
    </tr>
    <tr>
      <th scope="row">Johnson Saka</th>
      <td>M003</td>
      <td>+254025600157</td>
      <td>sakaj@gmail.com</td>
    </tr>
  <tr>
      <th scope="row">Kingsley Joshua</th>
      <td>M004</td>
      <td>+254025600157</td>
      <td>kj@gmail.com</td>
    </tr>
  <tr>
      <th scope="row">Saka Jim</th>
      <td>M005</td>
      <td>+254025600157</td>
      <td>sakaj@gmail.com</td>
  </tr>
  <tr>
      <th scope="row">Jj Watkins</th>
      <td>M006</td>
      <td>+254025600157</td>
      <td>j@gmail.com</td>
    </tr>
  </tbody>

</table>
<br>
<button class="btn-primary" type="Back">Back</button><a href=""></a>
<br><br>
<footer>
  <p>© <span>Copyright</span> <strong class="px-1 sitename"></strong> <span>All Rights Reserved</span></p>
</footer>
</body>
</html>