{% extends 'base.html' %}
{% block content %}
<br><br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Full Name</th>
      <th scope="col">Member Number</th>
      <th scope="col">Phone Number</th>
      <th scope="col">email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Mark Maina</th>
      <td>M001</td>
      <td>+254726007591</td>
      <td>mark@gmail.com</td>
    </tr>
    <tr>
      <th scope="row">Jacob Kim</th>
      <td>M002</td>
      <td>+254822600258</td>
      <td>jacob@gmail.com</td>
    </tr>
    <tr>
      <th scope="row">Johnson Saka</th>
      <td>M003</td>
      <td>+254025600157</td>
      <td>sakaj@gmail.com</td>
    </tr>
  <tr>
      <th scope="row">Kingsley Joshua</th>
      <td>M004</td>
      <td>+254025600157</td>
      <td>kj@gmail.com</td>
    </tr>
  <tr>
      <th scope="row">Saka Jim</th>
      <td>M005</td>
      <td>+254025600157</td>
      <td>sakaj@gmail.com</td>
  </tr>
  <tr>
      <th scope="row">Jj Watkins</th>
      <td>M006</td>
      <td>+254025600157</td>
      <td>j@gmail.com</td>
    </tr>
  </tbody>

</table>
<br>
<button class="btn-primary" type="Back">Back</button><a href=""></a>
<br><br>
{% endblock %}